body {
margin: 0;
background: #0d001a;
font-family: Arial, sans-serif;
overflow: hidden;
}


#menu {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: rgba(0,0,0,0.7);
z-index: 10;
color: #c46bff;
}


.title {
font-size: 48px;
margin-bottom: 20px;
text-shadow: 0 0 20px #a400ff;
}


.btn {
padding: 15px 35px;
background: #a400ff;
border: none;
border-radius: 12px;
color: white;
font-size: 24px;
cursor: pointer;
box-shadow: 0 0 20px #a400ff;
}


#gameCanvas {
display: none;
background: url('field.png');
background-size: cover;
margin: 0 auto;
border: 4px solid #a400ff;
box-shadow: 0 0 25px #a400ff;
}


#endScreen {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 48px;
color: white;
background: rgba(0,0,0,0.8);
z-index: 11;
}
